
.body{
    text-align: center;
    height: 100vh;
    
    display: flex;
    flex-direction: column;

    
    background-color: rgba(29, 27, 27, 0.04);
    color: beige;

}
#top{
    display:inherit;

    
    height: 10vh;
    margin: 40px auto;

    background-color: blue;
}
#link{
    background-color:darkcyan;
    height: 100vh;
    padding-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
}