
.body{
    background-image: linear-gradient(to bottom ,#528fa5,#81D2F0,#CBE8F2);
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center
    ;
    
    color: rgba(229, 255, 83);
    background-attachment: fixed;
}

#top{
    align-items: center;
    display:inherit;
    border-radius: 50%;
    /* padding-top: 10px; */
    
    height: 50px;
    width: 50px;
    margin: 40px auto 5px;

    background-color: rgba(46, 148, 90, 0.658);
}
#txt{
    padding-bottom: 10px;
}

#link{
    color: white;
    font-size: 2rem;
    background-image: linear-gradient(to bottom ,#41ca7c,#4DF093,#96F2BE);
    height: 5vw;
    padding: auto 40px;
    margin-left: 350px;
    margin-right: 350px;
    
}

@media screen and (max-width: 1200px){
    #link{
        font-size:small;
    }
}
